body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    min-width:100%;
    min-height:100%;
}

html {
    position:relative;
    height:100%;
    width:100%;
}

*{
    box-sizing: border-box;
    /*padding is included in the heights*/
}
#comments embed{
    display: none;
}
h1{
    margin: 0;
    padding: 5px;
    color: #fff;
}
h4{
    padding: 20px;
    color: #D0D4D8;
    /*float: left;*/
    font-size: 20px;
}
.header{
    position: absolute;
    height: 65px;
    width: 100%;
    background-color: #252A4E;
    z-index: 300;
    /*border-bottom: 3px solid #2d3d51;*/
}
.profile img{
    width: 30px;
    height: 30px;
/*    float: right;*/
}
.info{
    padding: 20px 20px;
    float: left;
    width: 100%;
    text-align: center;
    height: 70px;
}
.info a {
    color: #D0D4D8;
}
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #252A4E;
    text-align: center;
    right: 0;
    left: 0
}
footer span a{
    text-decoration: none;
    color: #F7BC2F
}
footer span{
    /*float: none;*/
    width: 100%;
    margin-top: 6px;
    padding: 3px;
}
footer i {
    /*margin-top: 10px;*/
}
footer img{
    /*float: left;*/
    /*margin-left: 6%;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
#lg_footer{
        width: 100%;
        text-align: center;
}
.logo{
    width: 220px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.list_item{
    padding: 10px 0 10px 30px;
}
.list_item:nth-child(2n+0){
    background-color: #D0D4D8;
}
.list_item:nth-child(2n+1){
    background-color: #efefef;
}
.btn_1{
    background-color: #252A4E;
    font-size: 18px;
    border: none;
    margin: 5px auto;
    position: relative;
    float: right;
    width: 125px;
    /*padding-left: 5px;*/
}
.btn_1 a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 6%;
}
.btn_1:hover{
    background-color: #F7BC2F;
}
.btn_1 a:hover{
    color: #252A4E;
}


/*===============Mobile view Navigation menu trigger======================*/
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 25px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}

/*===========Top Horisontal Navigation Menu===========*/
.top-nav.visible{
    display: block;
}
.top-nav{
    /*position: absolute;*/
    width: 100%;
    background-color: #252A4E;
    /*height: 100vh;*/
    z-index: 200;
    display: none;
    margin-top: 45px;
}

.top-nav ul{
    /*list-style: none;*/
    padding: 0;
    margin: 0;
}
.top-nav ul li{
    padding: 18px 10px;
    border-bottom: 1px solid #2d3d51;
    position: relative;
}
.top-nav ul li.active:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F7BC2F;
}
.top-nav ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    /*text-align: left;*/
}
.top-nav ul li i{
    color: #F7BC2F;
    font-size: 25px;
    min-width: 30px;
    text-align: center;
}
.top-nav ul li samp:nth-child(2){
    margin-left: 4px;
    font-size: 20px;
    font-weight: 500;
}
/*============Tabele Style=======================*/
table th{
    text-align: left;
    background-color: #252A4E;
    color: #ffffff;
    padding: 6px;
    font-size: 18px;
    min-width: 200px;
    border: 2px solid #ffffff;
}
#admin th {
    background-color: #d3d3d3;
    color: #252A4E;
    padding: 3px;
    border: none;
    border: 2px solid #ffffff;
}
table td{
    color: #252A4E;
    font-size: 18px;
    border: 2px solid #ffffff;
    padding-left: 5px;
}
.qam th {
    font-size: 18px;
    background-color: #d3d3d3;
    color: #252A4E;
    padding: 3px 10px 3px 10px;
    border: none;
    border: 2px solid #ffffff;
    min-width: 20px;
}
td input[type=checkbox]{
    display: block;
    margin: 10px auto;
    font-size: 18px;
    
}
tr:nth-child(2n+0){
    background-color: #f1f3F0;
}
tr:nth-child(2n+1){
    background-color: #E1E4FF;
}
/*=========== main content styles ================*/
.main-content {
    margin-top: 0;
    padding: 0;
    padding-top: 65px;
    height: 100%;
    /*overflow: scroll;*/
    z-index: 1
}
.main-content .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 400;
    color: #333;
    font-size: 18px;
}
/*=============== Main flexy Container and widgets ================*/
.main {
    display: flex;
    flex-flow: row wrap;
}
.widget {
    flex-basis: 300px;
    flex-grow: 10;
    min-height: 300px;
    margin: 20px;
    /*border-radius: 6px;*/
    background-color: #ffffff;
    position: relative;
    /*border: 10px solid #F7BC2F;*/
}
.m_widget{
    flex-basis: 300px;
    flex-grow: 10;
    min-height: 300px;
    margin: 20px;
    /*border-radius: 6px;*/
    background-color: #ffffff;
    position: relative;
    /*border: 10px solid #F7BC2F;*/
}
.r_widget{
    flex-basis: 300px;
    flex-grow: 10;
    min-height: 300px;
    margin: 20px;
    /*border-radius: 6px;*/
    background-color: #ffffff;
    position: relative;
    /*border: 10px solid #F7BC2F;*/
}
.l_widget{
    flex-basis: 300px;
    flex-grow: 10;
    min-height: 300px;
    margin: 20px;
    /*border-radius: 6px;*/
    background-color: #ffffff;
    position: relative;
    /*border: 10px solid #F7BC2F;*/
}

.widget .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #252A4E;
    font-weight: 500;
}
.widget .chart{
    /*background-color: #617085;*/
    padding: 20px;
    text-align: center;   
}
.chart ul{
    list-style: none;
    padding: 0;
}
.chart ul li{
    padding: 15px;
}
.hero{
    background-color: #424B8C;
    width: 100%;
    min-height: 196px;
    padding-top: 10px;
    
}
#comments{
    width: 100%;
    height: 210px;
    position: absolute;
    margin-top: 85px;
    left: 50%;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
#comments h1{
    font-size: 1.5em;
}
.hero_text{
    text-align: center;
    float: left;
    max-width: 100%;
}
    .ban_error .fa-ban{
    font-size: 3em;
    color: #D14424;
    }
    .ban_error h1{
        color: #252A4E;
        font-size: 25px;
    }
    .ban_error{
        width: 50%;
        margin: auto;
        text-align: center;
    }
/*===================================================================*/
/*===================================================================*/
@media screen and (min-width: 600px){
    #comments embed{
    display: block;
    float: left;
}
    .nav-trigger{
        display: none;
    }
     .top-nav{
        width: 80px;
        display: block;
        z-index: 1;
        /*height: 100vh;*/
    }
    .top-nav ul li {
        text-align: center;
    }
    .top-nav ul li samp:nth-child(2){
        display: none;
    }
    .top-nav ul li a i {
        font-size: 30px;
        width: 30px;
        text-align: center;        
    }
    .top-nav ul li a{
        text-align: center;
    }
    .profile {
        /*float: right;*/
    }
    .hero{
        margin-left: 80px;
        min-height: 268px;
    }
    #comments{
        margin: 0 auto 0 auto;
        width: 80%;
        top: 160px;
        padding: 20px;
        text-align: center;
    }
    #comments h1{
        font-size: 2em;
    }
    .l_widget{
        margin-left: 80px;
    }
    .m_widget{
        min-width: 500px;
    }
    .info{
        width: 22%;
    }
    .info:nth-child(4){
        border-right: 1px solid #D0D4D8;
    }
    #lg_footer{
        width: 20%;
        border-right: 1px solid #D0D4D8;
        /*height: 60px;*/
        float: left;
        margin-left: 6%;
    }
    footer span{
        float: right;
        color: #D0D4D8;
        font-size: 22px;
        width: 60px;
        margin-right: 40px;
        /*margin-top: 20px;*/
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;   
        box-sizing: border-box;  
        border: 1px solid #F7BC2F;
        border-radius: 40px;
    }
    h4{
        float: left;
    }
    footer img {
        float: left;
    }
    .ban_error .fa-ban{
    font-size: 5em;
    }
    .hero_text{
        max-width: 60%;
    }
}
/*===============================================================*/
/*===============================================================*/
@media screen and (min-width: 800px){
    .logo{
    width: 217px;
    margin: 6px;
    top: 0;
    left: 6%;
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    float: left;
    }
    .top-nav{
        width:60%;
        float: right;
        display: inline-block;
        height: 65px;
        margin-top: 0;
        background: none;
        position: relative;
        right: 6%;
    }
    .profile {
        float: right;
        position: relative;
        padding-top: 18px;
        padding-left: 10px;
    }
    .profile span{
        color: #D0D4D8;
        padding: 4px;
        top: -5px;
        position: relative;
    }
    .top-nav ul{
        float: right;
        padding-top: 25px;
    }
    .top-nav ul li{
        position: relative;
        display: inline;
        /*float: right;*/
        border-bottom:none;
        padding: 10px 5px;
    }
    
    .top-nav ul li a{
        /*text-align: left;*/
        display: inline;
        
    }
    .top-nav ul li samp:nth-child(2){
        display: inline;
        margin-left: 0;
    }
    .top-nav ul li a i {
        font-size: 18px;
    }
    .top-nav.visible{
    display: inline;
    }
    .top-nav ul li.active:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 44px;
    left: 0;
    background-color: #F7BC2F;
    }
    .hero{
        margin-left: 0;
        min-height: 318px;
    }
    #comments{
        width: 90%;
        top: 216px;
        height: 318px;
    }
    object{
        margin-top: 30px;
    }
    #comments h1{
        font-size: 2.6em;
    }
    .hero ul li{
        display: inline-block;
    }
    .m_widget{
        min-width: 500px;
    }
    .l_widget{
    max-width: 250px;
    margin-left: 20px;
    }
    .r_widget{
        max-width: 300px;
    }
    .info{
        width: 18%;
    }
    #lg_footer{
        width: 18%;
    }
    .ban_error .fa-ban{
    font-size: 10em;
    }
    .hero_text{
        max-width: 40%;
    }
}

